# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env

# IDE
.vscode/
.idea/

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log
app.log
fastapi.log
streamlit.log
ngrok.log

# OS
.DS_Store
